<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${godotPluginPackageName}">

    <!-- Permiso para ejecutar servicios en primer plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <!-- Registro del plugin principal -->
        <meta-data
            android:name="org.godotengine.plugin.v2.${godotPluginName}"
            android:value="${godotPluginPackageName}.GodotAndroidPlugin"/>

        <!-- Declaración del servicio persistente -->
        <service
            android:name="${godotPluginPackageName}.GodotService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"/>
    </application>
</manifest>
